<footer id="about">
    <div class="container">
        <div class="footerlogo">
            <img src="/img/logoshort.png" class="footerimg">
            <div class="socials">
                    <a target="_blank" href="https://instagram.com/wearescp"><i class="fab fa-instagram"></i></a>
                    <a target="_blank" href="https://www.facebook.com/wearescp"><i class="fab fa-facebook"></i></a>
                    <a target="_blank" href="https://twitter.com/wearescp"><i class="fab fa-twitter"></i></a>
                    <a target="_blank" href="https://www.linkedin.com/company/second-city-prints/mycompany/"><i class="fab fa-linkedin"></i></a>
            </div>
        </div>

        <div class="footernav">
            <div class="column">
                <a href="" target="_blank">FAQs</a>
                <a href="" target="_blank">TERMS OF USE</a>
                <a href="" target="_blank">PRIVACY POLICY</a>
                <a href="" target="_blank">CONTACT US</a>
            </div>

            <div class="column">
                <span>SCP Mechandising LLC</span>
                <span>1020 Olympic Drive</span>
                <span>Batavia, IL 60510</span>
            </div>
            
            <div class="footercopy">
                SCP Merchandising LLC ©2021. All rights reserved.
            </div>
        </div>
    </div>
</footer>