<footer id="about">
    <div class="container">
        <div class="footerlogo">
            <img src="/img/logoshort.png" class="footerimg" alt="WE ARE SCP">
            <div class="socials">
                    <a target="_blank" href="https://instagram.com/wearescp"><i class="fab fa-instagram"></i></a>
                    <a target="_blank" href="https://www.facebook.com/wearescp"><i class="fab fa-facebook"></i></a>
                    <a target="_blank" href="https://twitter.com/wearescp"><i class="fab fa-twitter"></i></a>
                    <a target="_blank" href="https://www.linkedin.com/company/second-city-prints/mycompany/"><i class="fab fa-linkedin"></i></a>
                    <a target="_blank" href="https://open.spotify.com/playlist/1ej6l1EN7eAKuICHiZbaZG?si=edeab6d9ef1f4804"><i class="fab fa-spotify"></i></a>
                    <a target="_blank" href="https://youtube.com/@wearescp"><i class="fab fa-youtube"></i></a>
            </div>
        </div>

        <div class="footernav">
            <div class="column">
                <a href="https://wearescp.zendesk.com/hc/en-us" target="_blank">FAQs</a>
                <a href="https://wearescp.zendesk.com/hc/en-us/articles/360052175692-Terms-of-Use" target="_blank">TERMS OF USE</a>
                <a href="https://wearescp.zendesk.com/hc/en-us/categories/360004577551-SCP-Policies-" target="_blank">POLICIES</a>
                <a href="/contact" target="_blank">CONTACT US</a>
            </div>

            <div class="column">
                <span>SCP Merchandising LLC</span>
                <span>1020 Olympic Drive</span>
                <span>Batavia, IL 60510</span>
            </div>
            
            <div class="footercopy">
                SCP Merchandising LLC ©2021. All rights reserved.
            </div>
        </div>
    </div>
</footer>
