<main id="goodbye">
    <h1><img src="/img/logofull.png" alt="WE ARE SCP"></h1>
    <h2>2007-2023</h2>
    <p>Thank you all so much for your support.</p>
    <p>More details on the bankruptcy are coming.</p>
</main>

<style>
body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#goodbye {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    margin: auto;
    text-align: center;
    line-height: 1.5em;
}

#goodbye img {
    max-width: 90%
}

#goodbye h2 {
    font-size: 1.5em;
    margin-bottom: 1em;
}
</style>

<!-- Hello, anyone out there looking at the code! I'm Kevin Morgan, the old lead web developer for SCP. We made so much cool stuff happen. If you want to reach me in the future, I'm at https://curio.computer/ now. -->
<!-- We couldn't have done anything we did without the support of the other web guys - Nathan Campbell, and Justin Henricks. Be sure to look them up on LinkedIn, too! -->
<!-- And that's to say nothing of the rest of the employees at SCP. Collectively, everyone made something incredibly special that may never exist again. I'm going to miss you all. -->