<main id="goodbye">
    <!--<h2>2007-2023</h2>-->
    <h1><img src="/img/stevie.webp" alt="Portrait photo of Stevie smiling"></h1>
    <img src="/img/logofull.png" alt="WE ARE SCP">
    <h2>Stevie Hopkins, Director of Awesome</h2>
    <h2>1983 - 2024</h2>
</main>

<style>
body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#goodbye {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1em;
    width: 90%;
    max-width: 600px;
    margin: auto;
    text-align: center;
    line-height: 1.5em;
}

#goodbye img {
    max-width: 90%;
}

#goodbye h1 img {
    border-radius: 20px;
}

#goodbye h2 {
    font-size: 1.5em;
}
</style>

<!-- Hello, anyone out there looking at the code! I'm Kevin Morgan, the old lead web developer for SCP. We made so much cool stuff happen. If you want to reach me in the future, I'm at https://curio.computer/ now. -->
<!-- We couldn't have done anything we did without the support of the other web guys - Nathan Campbell, and Justin Henricks. Be sure to look them up on LinkedIn, too! -->
<!-- And that's to say nothing of the rest of the employees at SCP. Collectively, everyone made something incredibly special that may never exist again. I'm going to miss you all. -->