<header>
    <div class="logoimg"></div>

    <div class="desknav">
        <a href="#about">Contact</a>
        <a href="#capabilities">Capabilities</a>
        <span class="dropdown">Careers
            <span class="dropdown-content">
                <a href="" target="_blank">Production & Fulfillment</a>
                <a href="" target="_blank">Admin & Industry</a>
            </span>
        </span>
    </div>

    <span id="navtrigger" class="trigger"></span>

    <nav>
        <a href="#about">Contact</a>
        <a href="#capabilities">Capabilities</a>
        <a href="#gallery">Gallery</a>
        <a href="#about">About</a>
        <span class="dropdown">Careers
            <span class="dropdown-content">
                <a href="" target="_blank">Production & Fulfillment</a>
                <a href="" target="_blank">Admin & Industry</a>
            </span>
        </span>
    </nav>
</header>