<header>
    {% if page.url == "/" %}
        <a class="logoimg" href="/"><h1>WE ARE SCP</h1></a>
    {% else %}
        <a class="logoimg" href="/">WE ARE SCP</a>
    {% endif %}

    <div class="desknav">
        <a href="/blog">Blog</a>
        <a href="/contact">Contact</a>
        <a href="/#capabilities">Capabilities</a>
        <span class="dropdown">
            <a href="/careers">Careers</a>
            <span class="dropdown-content">
                <a href="" target="_blank">Production & Fulfillment</a>
                <a href="" target="_blank">Admin & Industry</a>
            </span>
        </span>
    </div>

    <span id="navtrigger" class="trigger"></span>

    <nav>
        <a href="/blog">Blog</a>
        <a href="/contact">Contact</a>
        <a href="/#capabilities">Capabilities</a>
        <a href="#gallery">Gallery</a>
        <a href="#about">About</a>
        <span class="dropdown">
            <a href="/careers">Careers</a>
            <span class="dropdown-content">
                <a href="" target="_blank">Production & Fulfillment</a>
                <a href="" target="_blank">Admin & Industry</a>
            </span>
        </span>
    </nav>
</header>