<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
<meta name="theme-color" content="#d42727">

{% if page.url == "/" %}
    <title>WE ARE SCP</title>
{% elsif page.title %}
    <title>{{ page.title }} - WE ARE SCP</title>	
{% endif %}

<link rel="icon" 
type="image/png" 
href="./img/scpfav.png" />

{% assign cacheBust = site.time | date:'?v=%s' %}
<link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>
<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
<link type="text/css" rel="stylesheet" href="{{ "/scp.css" | relative_url | append: cacheBust }}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.0/css/all.css">