<!doctype html>
<html lang="en">
<head>
    {% include meta.html %}
  <link type="text/css" rel="stylesheet" href="{{ "/history.css" | relative_url | append: cacheBust }}">
</head>
<body class="history">
    <!-- <h1 class="title">{{ page.title }}</h1> -->
    <!-- {% include header.html %} -->

    <nav>
        <!--Shows our position on the timeline-->
        <div class="marker"></div>
        
        <!--Draggable element-->
        <div class="nav__track" data-draggable>
            <ul class="nav__list">
                <li>
                    <a href="#section_1" class="nav__link" data-link><span>2004</span></a>
                </li>
                <li>
                    <a href="#section_2" class="nav__link" data-link><span>2006</span></a>
                </li>
                <li>
                    <a href="#section_3" class="nav__link" data-link><span>2008</span></a>
                </li>
                <li>
                    <a href="#section_4" class="nav__link" data-link><span>2009</span></a>
                </li>
                <li>
                    <a href="#section_5" class="nav__link" data-link><span>2013</span></a>
                </li>
                <li>
                    <a href="#section_6" class="nav__link" data-link><span>2017</span></a>
                </li>
                <li>
                    <a href="#section_7" class="nav__link" data-link><span>2020</span></a>
                </li>
                <li>
                    <a href="#section_8" class="nav__link" data-link><span>2022</span></a>
                </li>
            </ul>
        </div>
    </nav>
    
    <main>
        <section id="section_1" style="--i: 0">
            <div class="history__header">
                <h2 class="section__heading">Humble & Almost Accidental Beginnings</h2>
                <h3 class="section__subheading">2004-2005</h3>
            </div>
            <div class="history__right">
                <div class="history__blurb">
                    <p>The history of SCP is almost inseparable from the origin story of 3E Love and all can be traced back to dorm life at UIC, where Stevie and his sister Annie armed with passion and newfound freedom were able to explore new subcultures and opportunities for community building. While Annie and Stevie were both drawn to leadership roles, the seed for 3E Love wasn’t planted until 2004 and the “Bar Crawl of Rebellion” where students and PAs took to streets to visibly fight for their right to date – the symbol emblazoned on the shirts for the evening would later become known as the International Symbol of Acceptance. </p>
                    <p>About a year later, when Annie started getting more involved in disability studies and advocacy, she got the symbol tattooed on her shoulder. From there, the symbol took off with so many people wanting it as a tattoo as well. This instant connection with the mark would be the catalyst for 3E Love development later on. </p>
                </div>
                <div class="history__year">
                    2004
                </div>
            </div>
        </section>
        <section id="section_2" style="--i: 1">
            <div class="history__header">
                <h2 class="section__heading">Myspace Era</h2>
                <h3 class="section__subheading">2006-2007</h3>
            </div>
            <div class="history__right">
                <div class="history__blurb">
                    <p>
                        In 2006, while Annie was busy with her studies and advocacy, Stevie turned his eyes to a new passion — music. 
                        Working with a close friend, Stevie began booking tours and promoting them via Myspace. 
                        He quickly learned that he had a knack for building relationships and connecting online communities. 
                        During this era, he was supporting the marketing efforts and operational management of a DIY promotion company that did 300 shows per year in just 6 states. 
                        The roster of which included bands like Hatebreed, Chiodos, 3OH!3, Never Shout Never, As Blood Runs Black, The Devil Wears Prada, Dance Gavin Dance, Set Your Goals, 
                        Job for a Cowboy, and many more. From that exposure, Stevie learned a lot about the music industry and started an upstart record label and booking agency to 
                        sign his favorite bands and book their national tours – all as a side-hustle while working at his family’s insurance agency. 
                    </p>
                    <p>
                        After years of seeing the passion for the International Symbol for Acceptance grow, Annie and Stevie realized that there was something there and began working to protect the symbol and developing the model for the 3E Love brand. Stevie quickly began leveraging the online marketing tactics he learned while promoting within the music industry to the 3E Love brand, adding accelerant to the interest that had naturally started to blossom.
                    </p>
                </div>
                <div class="history__year">
                    2006
                </div>
            </div>
        </section>
        <section id="section_3" style="--i: 2">
            <div class="history__header">
                <h2 class="section__heading">Tragedy, Building a Business & the Golden Facebook Period</h2>
                <h3 class="section__subheading">2008-2009</h3>
            </div>
            <div class="history__right">
                <div class="history__blurb">
                    <p>2008 was a recession in many ways for the Hopkins family. Annie was facing a period of physical, mental, and emotional struggle while the family’s insurance business was also in decline due to the harsh economic climate. Stevie stepped back from the music business to help support his family. Despite everything, Annie focused on the positive and took to YouTube to share her life and the newly minted 3E Love brand with the world. </p>
                    <p>Unfortunately, 2009, proved even harder for the Hopkins family as they faced the sudden loss of Annie in January due to surgical complications. This tragedy rocked Stevie and the community they had worked to build together to its core. </p>
                    <p>Out of this tragedy sprang forth a beautiful outpouring of love and support. Stevie’s personal tribute to Annie went viral, connecting new people to 3E Love and Annie’s legacy. Her wake brought thousands together in her memory and her “wedding celebration” later raised over $40,000 for a scholarship fund in her honor. The beauty of such a vibrant soul is that the impact never leaves. 3E Love is that living legacy, the growth of which quickly became the center of Stevie’s world.</p>
                    <p>Stevie with the help of family and friends took over the basement of the family’s insurance agency to begin printing the shirts ordered by fans of 3E Love. During this golden era of Facebook, the story of 3E Love spread like wildfire, making the supporting community larger than ever and the demand for merchandise with the International Symbol of Acceptance more than the family ever imagined. Stevie spent his days working for his family’s company and evenings taking over the office to have enough room to pack orders. His mom, Leslie, began working to support the 3E Love brand by packing orders and handling consumer inquiries and remains an instrumental part of the brand today.</p>
                </div>
                <div class="history__year">
                    2008
                </div>
            </div>
        </section>
        <section id="section_4" style="--i: 3">
            <div class="history__header">
                <h2 class="section__heading">Breaking Out of the Basement</h2>
                <h3 class="section__subheading">2009-2013</h3>
            </div>
            <div class="history__right">
                <div class="history__blurb">
                    <p>Soon the growth of 3E Love was simply too much for the basement, based on logistics (and feedback from the local fire department) so Stevie decided to invest in a production and fulfillment space. </p>
                    <p>The next few years were ones of growth and rapid change. 3E Love moved multiple times to support its growth. Stevie took to the road for speaking engagements, captivating audiences with his and Annie’s stories, and the 3E Love mission overall. </p>
                </div>
                <div class="history__year">
                    2009
                </div>
            </div>
        </section>
        <section id="section_5" style="--i: 4">
            <div class="history__header">
                <h2 class="section__heading">Diversification & Big Breaks</h2>
                <h3 class="section__subheading">2013-2017</h3>
            </div>
            <div class="history__right">
                <div class="history__blurb">
                    <p>With algorithm changes in late 2012/early 2013, 3E Love’s Facebook fervor began to slowly settle into a stable community providing opportunities for Stevie to explore other passions. This space allowed for SCP to be born. </p>
                    <p>With his connections in music and a reputation building as a screen printer you could trust, Stevie began being contacted about emergency merch production for bands ready to go on tour. Due to the quality of work and timeliness, the demand continued to grow and evolve from stop-gap solutions to a go-to merchandise provider. SCP’s big break came in the form of partner references leading to work with Modern Baseball, Sorority Noise, Pinegrove, Brand New, Real Friends, The Maine, and many more. </p>
                </div>
                <div class="history__year">
                    2013
                </div>
            </div>
        </section>
        <section id="section_6" style="--i: 5">
            <div class="history__header">
                <h2 class="section__heading">Expansion</h2>
                <h3 class="section__subheading">2017-2019</h3>
            </div>
            <div class="history__right">
                <div class="history__blurb">
                    <p>Landing those clients and building continued credibility in the industry, led to an explosion in business for SCP. Creating opportunities for new equipment, additional staffing, and broader in-house services. The client roster continued to grow to include notable names such as Smino, JPEGMAFIA,  and rising star Billie Elish. </p>
                    <p>SCP developed from an executional partner to a thought-leader and source for merchandise ideation, design, development, as well e-commerce solutions. Helping advise partners on growth opportunities.</p>
                    <p>Starting in a 16,000 sq ft space with 20 employees and growing to 35,000 and 75 strong.</p>
                </div>
                <div class="history__year">
                    2017
                </div>
            </div>
        </section>
        <section id="section_7" style="--i: 7">
            <div class="history__header">
                <h2 class="section__heading">COVID Curse & Continued Growth</h2>
                <h3 class="section__subheading">2020-2021</h3>
            </div>
            <div class="history__right">
                <div class="history__blurb">
                    <p>COVID rocked the world and unsurprisingly affected SCP. With ever-changing policies, new challenges, and uncertainty at every step, SCP was pushed to quickly adapt. </p>
                    <p>With touring on hold, redoubled efforts were put into e-commerce solutions to help partners offset losses. Automated solutions were rapidly implemented in the facility for employees to safely meet production demands. The team also broadened partner scope to include influencers, YouTube stars, podcasters, and more. </p>
                    <p>2020 marked SCP moving into the Olympic Drive facility of 125,000 sq ft. </p>
                    <p>As the world greeted 2021, with COVID still being an ever-present challenge, the SCP team explored other ways to strengthen client relationships, including growing the creative team and working to build an internal marketing department to offer differentiated services. The customer service team expanded and new software was onboarded to make sure that customer tickets were promptly handled. Process improvements were also top of mind preparing for a post-COVID world.  </p>
                    <p>During this first full year at Olympic Drive, SCP produced a record of around 1.46 million production prints in-house with millions of other shirts being produced at partner facilities while SCP continued to build its in-house capabilities.  </p>
                    <p>3E Love also emerged from a period of digital dormancy with a brand refresh and a renewed focus on sharing Acceptance Stories and uniting the community.</p>
                    <p>In Fall 2021, with the first glimmers of the post-COVID world, SCP touring slowing began to make its return, picking up momentum launching into 2022.</p>
                </div>
                <div class="history__year">
                    2020
                </div>
            </div>
        </section>
        <section id="section_8" style="--i: 8">
            <div class="history__header">
                <h2 class="section__heading">New Horizons</h2>
                <h3 class="section__subheading">2022</h3>
            </div>
            <div class="history__right">
                <div class="history__blurb">
                    <p>With touring coming back with a vengeance, the rapid growth of digital creators, and new technological innovations – 2022 is poised to be the most exciting year to date for SCP. From NFT exploration to the launch of the Stevie Speaks thought leadership series, the SCP team is ready to help you navigate this new normal together. </p>
                </div>
                <div class="history__year">
                    2022
                </div>
            </div>
        </section>
    </main>

    {% include footer.html %}

	<!-- <script src="{{ "/scp.js" | relative_url }}"></script> -->

    <!-- GSAP -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/ScrollTrigger.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/Draggable.min.js"></script>
    <!-- GSAP -->
    <script src="{{ "/history.js" | relative_url }}"></script>
</body>
</html>