<!doctype html>
<html lang="en">
<head>  
  {% include meta.html %}
</head>

<body>
    {% include header.html %}
    {% assign artists = site.artists | sort: 'order' %}

    <section id="splash">
        <div class="container">
            <div class="copy">
                <p>Wildly individual.</p>
                <p>Relentlessly innovative.</p>
                <p>Your full-service creative collaborator.</p>
            </div>
            <img src="./img/logoshort.png" class="splashlogo" alt="WE ARE SCP">
        </div>

        <div class="background">
            <div class="bg-images">
                {% for artist in artists %}
                <div><img src="{{ artist.image }}" alt="{{ artist.name }}" data-artist="{{ artist.name }}" loading="lazy"></div>
                {% endfor %}
            </div>
        </div>
    </section>

    <section id="gallery" {% if site.artists.size < 8 %} class="viewingmore" {% endif %}>
        <div class="container">
            {% for artist in artists %}
                <div class="artist" data-artist="{{ artist.name }}">
                    <img src="{{ artist.image }}" alt="{{ artist.name }}" loading="lazy">
                </div>
            {% endfor %}

            <div class="display">
                <div class="display-bg galclose"></div>

                <div class="displaytitle">
                    <div class="displayscroll"><div class="artistname"></div></div>
                </div>

                <span id="galclose" class="trigger galclose"></span>
                <div class="gallery">
                    <div class="swiper">
                        <div class="swiper-wrapper">
                        </div>
                    </div>
                </div>
                    
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>

                <div class="displaytitle">
                    <div class="displayscroll"><div class="artistname"></div></div>
                </div>
            </div>
        </div>
        {% if site.artists.size > 8 %}
        <span class="viewmore" onclick="javascript:document.getElementById('gallery').classList.add('viewingmore')">View More Clients</span>
        {% endif %}
    </section>

    <section id="capabilities">
        <div class="container">
            <h2>Capabilities</h2>
            <div class="caplist">
                <p>Full-Service Creative</p>
                <p>Embroidery</p>
                <p>Web Management</p>
                <p>Sales Analytics</p>
                <p>Design</p>
                <p>Order Fulfillment</p>
                <p>Shipping</p>
                <p>Customer Service</p>
                <p>Production</p>
                <p>Sourcing</p>
                <p>Restocking</p>
                <p>Touring Services</p>
                <p>Printing</p>
                <p>Web Store Design</p>
                <p>Inventory Reports</p>
                <p>Web Development</p>
            </div>            
        </div>
    </section>

    {% include footer.html %}

    <script>
        //artist info - generates via liquid
        var artists = {
            {% for artist in artists %}
                "{{artist.name}}": {
                    name: "{{ artist.name }}",
                    mainImage: "{{ artist.image }}",
                    order: "{{ artist.order }}",
                    images: [
                        {% for image in artist.galleryImages %}
                            {
                                img: "{{ image.image }}",
                                {% if image.url %}url: "{{ image.url }}",{% endif %}
                                {% if image.url %}alt: "{{ image.alt }}",{% endif %}
                            },
                        {% endfor %}
                    ]
                },
            {% endfor %}
        }
    </script>

	<script src="{{ "/scp.js" | relative_url }}"></script>
	<script src="{{ "/home.js" | relative_url }}"></script>
</body>
</html>
