<!doctype html>
<html lang="en">
<head>  
  {% include meta.html %}
</head>

<body>
    {% include header.html %}

    <section id="splash">
        <div class="container">
            <div class="copy">
                <p>Wildly individual.</p>
                <p>Relentlessly innovative.</p>
                <p>Your full-service creative collaborator.</p>
            </div>
            <img src="./img/logoshort.png" class="splashlogo">
        </div>

        <div class="background">
            <div class="bg-images"></div>
        </div>
    </section>

    <section id="gallery">
        <div class="container">
            <div class="display">
                <div class="displaytitle">
                    <div class="displayscroll"><div class="artistname"></div></div>
                </div>

                <span id="galclose" class="trigger"></span>
                <div class="gallery">
                    <div class="swiper">
                        <div class="swiper-wrapper">
                        </div>
                    </div>
                </div>
                    
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>

                <div class="displaytitle">
                    <div class="displayscroll"><div class="artistname"></div></div>
                </div>
            </div>
        </div>
    </section>

    <section id="capabilities">
        <div class="container">
            <h2>Capabilities</h2>
            <div class="caplist">
                <p>Full-Service Creative</p>
                <p>Embroidery</p>
                <p>Web Management</p>
                <p>Sales Analytics</p>
                <p>Design</p>
                <p>Order Fulfillment</p>
                <p>Shipping</p>
                <p>Customer Service</p>
                <p>Production</p>
                <p>Sourcing</p>
                <p>Restocking</p>
                <p>Touring Services</p>
                <p>Printing</p>
                <p>Web Store Design</p>
                <p>Inventory Reports</p>
                <p>Web Development</p>
            </div>            
        </div>
    </section>

    {% include footer.html %}

    <script>
        //artist info - generates via liquid
        var artists = {
            livelarge: {
                name: "Live Large",
                mainImage: "./img/ecom-livelarge.jpg",
                images: [
                    {
                        img: "./img/ecom-store-livelarge.jpg",
                        url: "https://merch.mxmtoon.com/"
                    },
                    {
                        img:"./img/ecom-livelarge.jpg"
                    }
                ]
            },
            
            mxmtoon: {
                name: "mxmtoon",
                mainImage: "./img/ecom-mxm.jpg",
                images: [
                    {
                        img: "./img/ecom-store-mxm.jpg",
                        url: "https://merch.mxmtoon.com/"
                    },
                    {
                        img:"./img/ecom-mxm.jpg"
                    }
                ]
            },
            
            barefeet: {
                name: "Bare Feet",
                mainImage: "./img/ecom-barefeet.jpg",
                images: [
                    {
                        img: "./img/ecom-store-barefeet.jpg",
                        url: "https://merch.mxmtoon.com/"
                    },
                    {
                        img:"./img/ecom-barefeet.jpg"
                    }
                ]
            },
            
            carlyrae: {
                name: "Carly Rae Jepsen",
                mainImage: "./img/ecom-carlyrae.jpg",
                images: [
                    {
                        img: "./img/ecom-store-carlyrae.jpg",
                        url: "https://merch.mxmtoon.com/"
                    },
                    {
                        img:"./img/ecom-carlyrae.jpg"
                    }
                ]
            },
            
            ctf: {
                name: "Cross Tower Fitness",
                mainImage: "./img/ecom-ctf.jpg",
                images: [
                    {
                        img: "./img/ecom-store-ctf.jpg",
                        url: "https://merch.mxmtoon.com/"
                    },
                    {
                        img:"./img/ecom-ctf.jpg"
                    }
                ]
            },
            
            curesma: {
                name: "Cure SMA",
                mainImage: "./img/ecom-curesma.jpg",
                images: [
                    {
                        img: "./img/ecom-store-curesma.jpg",
                        url: "https://merch.mxmtoon.com/"
                    },
                    {
                        img:"./img/ecom-curesma.jpg"
                    }
                ]
            },
            
            emirichu: {
                name: "emirichu",
                mainImage: "./img/ecom-emirichu.jpg",
                images: [
                    {
                        img: "./img/ecom-store-emirichu.jpg",
                        url: "https://merch.mxmtoon.com/"
                    },
                    {
                        img:"./img/ecom-emirichu.jpg"
                    }
                ]
            },
            
            grayscale: {
                name: "grayscale",
                mainImage: "./img/ecom-grayscale.jpg",
                images: [
                    {
                        img: "./img/ecom-store-grayscale.png",
                        url: "https://merch.mxmtoon.com/"
                    },
                    {
                        img:"./img/ecom-grayscale.jpg"
                    }
                ]
            },
            
            lomavista: {
                name: "Loma Vista",
                mainImage: "./img/ecom-lomavista.jpg",
                images: [
                    {
                        img: "./img/ecom-store-lomavista.png",
                        url: "https://merch.mxmtoon.com/"
                    },
                    {
                        img:"./img/ecom-lomavista.jpg"
                    }
                ]
            },
        }
    </script>

	<script src="/scp.js"></script>
	<script src="/home.js"></script>
</body>
</html>