<!doctype html>
<html lang="en">
<head>  
  {% include meta.html %}
</head>

<body>
    {% include header.html %}

    <section id="splash">
        <div class="container">
            <div class="copy">
                <p>Wildly individual.</p>
                <p>Relentlessly innovative.</p>
                <p>Your full-service creative collaborator.</p>
            </div>
            <img src="./img/logoshort.png" class="splashlogo">
        </div>

        <div class="background">
            <div class="bg-images"></div>
        </div>
    </section>

    <section id="gallery">
        <div class="container">
            <div class="display">
                <div class="displaytitle">
                    <div class="displayscroll"><div class="artistname"></div></div>
                </div>

                <span id="galclose" class="trigger"></span>
                <div class="gallery">
                    <div class="swiper">
                        <div class="swiper-wrapper">
                        </div>
                    </div>
                </div>
                    
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>

                <div class="displaytitle">
                    <div class="displayscroll"><div class="artistname"></div></div>
                </div>
            </div>
        </div>
    </section>

    <section id="capabilities">
        <div class="container">
            <h2>Capabilities</h2>
            <div class="caplist">
                <p>Full-Service Creative</p>
                <p>Embroidery</p>
                <p>Web Management</p>
                <p>Sales Analytics</p>
                <p>Design</p>
                <p>Order Fulfillment</p>
                <p>Shipping</p>
                <p>Customer Service</p>
                <p>Production</p>
                <p>Sourcing</p>
                <p>Restocking</p>
                <p>Touring Services</p>
                <p>Printing</p>
                <p>Web Store Design</p>
                <p>Inventory Reports</p>
                <p>Web Development</p>
            </div>            
        </div>
    </section>

    {% include footer.html %}

    <script>
        //artist info - generates via liquid
        var artists = {
            {% assign artists = site.artists | sort: 'order' %}
            {% for artist in artists %}
                "{{artist.name}}": {
                    name: "{{ artist.name }}",
                    mainImage: "{{ artist.image }}",
                    order: "{{ artist.order }}",
                    images: [
                        {% for image in artist.galleryImages %}
                            {
                                img: "{{ image.image }}",
                                {% if image.url %}url: "{{ image.url }}"{% endif %}
                            },
                        {% endfor %}
                    ]
                }
            {% endfor %}
        }
    </script>

	<script src="{{ "/scp.js" | relative_url }}"></script>
	<script src="{{ "/home.js" | relative_url }}"></script>
</body>
</html>